
*{

}
body {background-color: rgb(22, 22, 22);
    font-size: 2rem;
 font-family: 'Oswald', sans-serif;
 margin: ;
padding: 1rem;





}

header {color: yellow;
text-align: center;
gap: 1rem;
border-bottom: 2px solid yellow;

}

nav{
    background-color: rgb(22, 22, 22);
    
}

.navbar .navbar-brand, .navbar .navbar-nav .nav-link {
    color: yellow;
  }
h1{
    font-family: 'PT Serif', serif;
    color: yellow;
}

header ul {
    list-style: none;
    font-size: 1.5rem;
}

/*comienza la portada*/
h2 {color: yellow;
text-align: center;
font-family: 'PT Serif', serif;

}

.portada{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.portada::after{
   content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55)
}
.contenido_portada{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.contenido_portada h2 {

    font-size: 4rem;
}
.contenido_portada p{
    font-size: 1.5rem;
}

/*termina portada*/

/*servicios y cursos*/
    
p {color: yellow;
text-align: justify;


}

a {text-decoration: none;
color:yellow;}

.Servicios{
  
    width: 100%;
    
    border: 3px solid yellow;
    margin: 5px;
}


.cursos {

    width: 100%;
    
    border: 3px solid yellow;

    
}

div p{
    font-size: small;
    text-align: center;
    

}
h3 {
    color: yellow;
    text-align: center;
    font-family: 'PT Serif', serif;
    
}


   /*ejemplo de tragos*/ 
    

.ejemplos{
  color: yellow;
    display: flex;
    justify-content:center;
    gap: 1rem;
    
    
}
.tragos {
   
    margin: 10px;
    border: 5px solid yellow;
    width: 500px;
    min-height: 400px;
    
    
    
}
.tragos img {
    
  
  
    width: 100%;
    height: 480px;
    border-bottom: 5px solid yellow;
    
   
    
    

}
.receta{
    
    font-size: 1rem;
    
    display:flex ;
    flex-direction: column;
    gap: 1rem;
    
  
}

/*footer*/



footer {
    display: flex;
    font-size: 1rem;
    color: yellow;
 flex-direction: column;
    
}
h6 {
    
    color: yellow;
    text-align: center;
    
}

/* empieza sección "main"*/
.portada_cursos{
position: relative;
width: 100%;
height: 100vh;
background-image: url(../img/curso2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center  ;
}
.portada_cursos::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55)
    }

.contenido_portada_cursos{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.contenido_portada_cursos h2 {

    font-size: 4rem;
}
.contenido_portada_cursos p{
    font-size: 1rem;
}

section{
    border-bottom: 3px solid yellow;
}
.texto_familias a{
    font-weight: bold;
    text-decoration: dashed;
    color: rgb(228, 225, 225);
    border: 1px solid rgb(114, 114, 11);
    gap: 3px;
}

@media only screen and (min-width: 768px) {
    .contenido_portada_cursos h2 {

        font-size: 4rem;
    }
    .contenido_portada_cursos p{
        font-size: 1.5rem;
    }
    .texto_familias p{
        font-size: 1.5rem;
    }
    .texto_familias a{
        font-size: 1.5rem;
    }
}





