
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22);
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
}

p {
  color: yellow;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: yellow;
}

h2 {
  color: yellow;
  text-align: center;
  font-family: "PT Serif", serif;
}

header {
  color: yellow;
  text-align: center;
  gap: 1rem;
  border-bottom: 2px solid yellow;
}
header ul,
header li {
  list-style: none;
  font-size: 1.5rem;
  color: yellow;
  border-bottom: none;
}

section {
  border-bottom: 2px solid yellow;
}

footer .contenido-footer {
  width: 100%;
  padding: 70px 30px 20px;
}
footer .socialicons {
  display: flex;
  justify-content: center;
}
footer .socialicons a {
  padding: 10px;
  background-color: yellow;
  margin: 20px;
  border-radius: 50%;
}
footer .socialicons a i {
  font-size: 3rem;
  color: black;
  opacity: 0.9;
}
footer .footerNav {
  margin: 30px 0;
}
footer .footerNav ul {
  display: flex;
  justify-content: center;
}
footer .footerNav ul li, footer .footerNav ul a {
  color: yellow;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3rem;
}

h6 {
  color: yellow;
  text-align: center;
}

h4 {
  color: yellow;
}

@media only screen and (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
header {
  color: yellow;
  text-align: center;
  gap: 1rem;
  border-bottom: 2px solid yellow;
}

nav {
  background-color: rgb(22, 22, 22);
}

.navbar .navbar-brand, .navbar .navbar-nav .nav-link {
  color: yellow;
}

.portada {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.portada::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.portada .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.portada h2 {
  font-size: 2rem;
}
.portada p {
  color: yellow;
  text-align: justify;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: yellow;
}

.Servicios {
  width: 100%;
  margin: 5px;
}

.cursos {
  width: 100%;
}

div p {
  font-size: small;
  text-align: center;
}

h3 {
  color: yellow;
  text-align: center;
  font-family: "PT Serif", serif;
}

.portada_cursos {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/curso2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portada_cursos::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.portada_cursos .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.portada_cursos h2 {
  font-size: 2rem;
}
.portada_cursos p {
  color: yellow;
  text-align: justify;
  font-size: 1rem;
}

.texto_familias a {
  font-weight: bold;
  text-decoration: dashed;
  color: rgb(228, 225, 225);
  border: 1px solid rgb(114, 114, 11);
  gap: 3px;
}

@media only screen and (min-width: 768px) {
  .container h2 {
    font-size: 4rem;
  }
  .container p {
    font-size: 1.5rem;
  }
  .texto_familias p {
    font-size: 1.5rem;
  }
  .texto_familias a {
    font-size: 1.5rem;
  }
}
.portada_familias {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/portada-familia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portada_familias::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.portada_familias .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.portada_familias h2 {
  font-size: 2rem;
}
.portada_familias p {
  color: yellow;
  text-align: justify;
  font-size: 1rem;
}

.highball {
  width: 100%;
  position: relative;
}
.highball img {
  width: 100%;
}

ul {
  border-bottom: 1px solid yellow;
}

li {
  color: yellow;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .contenido-h {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
  }
  .contenido-h:hover {
    opacity: 1;
  }
}
.portada-servicios {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/servicio5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.portada-servicios::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.portada-servicios .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.portada-servicios h2 {
  font-size: 2rem;
}
.portada-servicios p {
  color: yellow;
  text-align: justify;
  font-size: 1rem;
}

ul, li {
  border-bottom: 0;
  list-style: none;
}

.paquetes, h3 {
  font-size: 3rem;
}

footer {
  display: flex;
}

.link-carta {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  margin-top: 16px;
}

.portada-cartas {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/portada-carta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.portada-cartas::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}
.portada-cartas .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
.portada-cartas h2 {
  font-size: 2rem;
}
.portada-cartas p {
  color: yellow;
  text-align: justify;
  font-size: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.card-container .cartas {
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: rgb(70, 43, 43);
}
.card-container .cartas img {
  width: 100%;
  height: 600px;
}
.card-container .cont-carta {
  padding: 16px;
  text-align: center;
}
.card-container .cont-carta li {
  font-size: 1rem;
  padding: 5px;
}
.card-container .cont-carta h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
.card-container .cont-carta p {
  font-size: 1rem;
  line-height: 1.3;
}
.card-container .cont-carta .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border-radius: 4px;
  margin-top: 16px;
}
.card-container .cartas-n {
  width: 325px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: rgb(70, 43, 43);
}
.card-container .cartas-n img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
